<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form th:action="@{/updated/profile/{id}(id=${user.getId()})}" method="post" th:object="${user}">
                <h1 class="text-center">Edit your profile</h1>

                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                    <p class="text-center" th:text="${session.message.content}"></p>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">name
                    </label>
                    <input
                            name="name"
                            th:value="${user.name}"
                            th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
                            type="text"
                            class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">

                    <div th:each="e : ${#fields.errors('name')}"
                         th:text="${e}"
                         id="validationServer03Feedback"
                         class="invalid-feedback">
                    </div>
                    <!--    <p th:each="e : ${#fields.errors('name')}" th:text=${e}></p> -->

                </div>
                <!--          //////-->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">lastname
                    </label>
                    <input
                            name="lastName"
                            th:value="${user.lastName}"
                            th:classappend="${#fields.hasErrors('lastName')?'is-invalid':''}"
                            type="text"
                            class="form-control"
                            id="exampleInputEmail" aria-describedby="emailHelp">

                    <div th:each="e : ${#fields.errors('lastName')}"
                         th:text="${e}"
                         id="validationServer03Feedback1"
                         class="invalid-feedback">
                    </div>
                    <!--    <p th:each="e : ${#fields.errors('name')}" th:text=${e}></p> -->

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">email
                    </label>
                    <input
                            name="email"
                            th:value="${user.email}"
                            th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
                            type="email"
                            class="form-control"
                            id="exampleInputEmnail1" aria-describedby="emailHelp">
                    <div th:each="e : ${#fields.errors('email')}"
                         th:text="${e}"
                         id="validationServer03Fneedback"
                         class="invalid-feedback">
                    </div>
                </div>


                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone Number
                    </label>
                    <input
                            name="phoneNumber"
                            th:value="${user.phoneNumber}"
                            th:classappend="${#fields.hasErrors('phoneNumber')?'is-invalid':''}"
                            type="tel"
                            class="form-control"
                            id="exampleInputEmnail" aria-describedby="emailHelp">
                    <div th:each="e : ${#fields.errors('phoneNumber')}"
                         th:text="${e}"
                         id="validationServer03Fneedback1"
                         class="invalid-feedback">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</div>

</div>
</body>
</html>