<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
</head>
<body>


<div class="d-flex justify-content-center align-items-center">
    <h1>Login Form</h1>
    <form action="logedIn" method="post">
        <div class="container">
            <label>email : </label>
            <input type="email" placeholder="Enter Usernae" name="email" required>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>

</div>

</body>
</html>